$staticFontPath:    ../../../fonts;

@import "../../../node_modules/@splunk/splunk-web-core/search_mrsparkle/exposed/pcss/base/bootstrap.pcss";
@import "../../../node_modules/@splunk/splunk-web-core/search_mrsparkle/exposed/js/views/dashboard/DashboardPage.pcss";
